
html
{
    background:black
}
#wrapper
{ 
    max-width:100%;
    max-height: 100%;
    width: 70%;
    height: 860px;
    position:relative;
    margin:0 auto;
    border:  2px solid black;
    background:lightgrey;
}

img
{
    text-align:center;
    width:40%;
    left:30%;
    height: 100px;
    border: 2px solid black;
    background:darkgray;
    position:relative;
    z-index:2;
    border-radius: 20px;
}

.middle-side
{   
    text-align:center;
    border: 2px solid black;
    background:darkgray;
    position:absolute;
    left:30%;
    top:16%;
    width:40%;
    height: 80%;
    border-radius: 20px;
    
}
#left-side
{
    text-align:center;
    border: 2px solid black;
    background:darkgray;
    position:absolute;
    top:0;
    left:0;
    width:25%;
    height: 860px;
    line-height: 200%;
    font-size:20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

#right-side
{
    text-align:left;
    border: 2px solid black;
    background:darkgray;
    position:absolute;
    font-size:30px;
    top:0;
    line-height: 300%;
    right:0;
    width:25%;
    height: 860px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}


#footer
{
    border: 2px solid black;
    background:darkgray;
    position:sticky;
    height:60px;
    text-align:center;
    line-height: 40px;
}

#btn-container
{   overflow:auto;
    border-radius:20px;
    border:3px dashed black;
    background:white;
    width: 90%;
    height: 40%;
    color:black;
    position:absolute;
    left:4%;
    bottom:20%;
}
#question-list
{
    font-size:30px;
    position:absolute;
    top: 10%;
    left:0%;
    text-align: center;
    background:white;
    border: 1px dashed black;
    border-radius:20px;
}
 #btn-style
{
    width:200px;
   height:100px;
    position:relative;
    top:85px;
    font-size: 20px;
    font-weight:bold;
    color:gray;
    background:white;
    border-radius: 20px;
    border-bottom:6px solid gray;
    border-right:6px solid gray;
    left:0%;
}

#btns-0
{
    background:white;
    margin:10px;
    border-radius:10px;
    width:200px;
    height:50px;
    position:relative;
    
  
}
#btns-1
{
    background:white;
    margin:5px;
    border-radius:10px;
    width:200px;
    height:50px;
    position:relative;
   
}
#btns-2
{
    background:white;
    margin:5px;
    border-radius:10px;
    width:200px;
    height:50px;
    position:relative;
    
}
#btns-3
{
    background:white;
    margin:5px;
    border-radius:10px;
    width:200px;
    height:50px;
    position:relative;
}

#btns-0:hover
{
    font-size:25px;
    background:lightblue;
    margin:10px;
    border:5px double white;
    border-radius:10px;
    width:230px;
    height:70px;
    position:relative;
    
  
}
#btns-1:hover
{
    background:lightblue;
    margin:5px;
    border:5px double white;
    border-radius:10px;
    width:230px;
    height:70px;
    position:relative;
   
}
#btns-2:hover
{
    background:lightblue;
    margin:5px;
    border:5px double white;
    border-radius:10px;
    width:230px;
    height:70px;
    position:relative;
    
}
#btns-3:hover
{
    background:lightblue;
    margin:5px;
    border:5px double white;
    border-radius:10px;
    width:230px;
    height:70px;
    position:relative;
}